@use '../../common/variables' as *;

.wrapper {
    margin-top: $margin-top-50px;
    margin-bottom: $margin-bottom-50px;

    

    .container {
        display: flex;
        flex-direction: column;
        margin: $margin-auto;
        width: $width-80;
        justify-content: center;
        border-radius: $bd-radius-8px;
        box-shadow: $box-shadow-6px;

        // .line {
        //         margin-top: $margin-top-50px;
        //         margin-bottom: $margin-bottom-50px;
        //         margin-left: $margin-left-60px;
        //         width: $width-90;
        //         // border: 1px solid black;
        //         border-radius: $bd-radius-8px;
        //         box-shadow: $box-shadow-4px;

        //             @media (max-width: 768px) {
        //                     width: $width-full;
        //                     margin: 0px;
        //                 }
        //     }

        .upperContainer,
        .lowerContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;


            .left {
                width: $width-40;
                height: $height-full;
                margin: $margin-20px;

                @media (max-width: 768px) {
                    width: $width-full;
                    margin: 0px;
                }
            }

            .right {
                width: $width-80;
                margin: $margin-20px;

                @media (max-width: 768px) {
                    width: $width-full;
                    margin: 0px;
                }
            }

            @media (max-width: 768px) {
                flex-direction: column;
                gap: $gap-value-20px;
            }
        }
    }
}
