@use "../../../../common/variables" as *;

.addressForm {
  flex: 1;
  height: 25em;
  width: $width-full;
  margin: 20px 0px 20px 0px;
  padding: $padding-20px;
  border-radius: $bd-radius-8px;
  box-shadow: $box-shadow-4px;
  flex-wrap: wrap;

  h2 {
    font-size: $font-size-24px;
    font-weight: bold;
    margin-bottom: $margin-bottom-20px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    label {
      font-size: $font-size-16px;
      margin-bottom: $margin-bottom-5px;
    }

    // .upperAddressFields,
    // .lowerAddressFields {
    //     display: flex;
    //     justify-content: space-between;
    //     gap: 15px;

    //     label {
    //         flex: 1;
    //         font-size: $font-size-16px;
    //         margin-bottom: $margin-bottom-10px;

    //         input, select {
    //             width: 100%;
    //             padding: 10px;
    //             border-radius: 5px;
    //             border: 1px solid lightgrey;
    //             margin-bottom: 20px;
    //         }
    //     }
    // }

    button {
      margin-top: 15px;
      width: $width-20;
      padding: $padding-5px;
      background-color: $bg-color-green-400;
      border-radius: $bd-radius-8px;
      box-shadow: $box-shadow-4px;
      font-weight: bold;
      align-self: flex-end;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        width: $width-full;
        // margin-left: $margin-left-auto;
        // margin-right: $margin-right-auto;
        margin: $margin-auto;
      }
    }
  }

  @media (max-width: 768px) {
    width: $width-full;
    margin: $margin-auto;
  }
}
