@use '../../../../common/variables' as *;


.column {
    width: $width-95;
    flex: 1;
    margin: $margin-20px;
    padding: $padding-20px;
    border-radius: $bd-radius-8px;
        box-shadow: $box-shadow-4px;

    @media (max-width: 768px) {
            width: $width-full;
            margin: 0px;
    }
}


.details {
    h1 {
        color: #333;
        font-size: 32px;
    }

    p {
        color: #666;
        font-size: 16px;
    }
}
