@use "../../../common/variables" as *;
@use "../../../common/responsive" as *;

.container {
    margin-bottom: 5em;
  .sameAuthorContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    h5 {
      color: black;
      text-align: center;
      font-size: large;
      font-weight: bold;
      min-width: 20em;
      margin: 0 auto 2em auto;
    }
    .sameAuthorWrapper {
      display: flex;
      flex-direction: column;
      row-gap: 1.5em;
      max-width: 94em;
      overflow-x: hidden;
      .cardWrapper {
        display: flex;
        justify-content: flex-start;
        gap: 2em;
      }
      .navigateButton {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 108em;
        margin: auto;
        left: 0;
        right: 0;
        top: 50%;
      }
    }
  }
  .sameGenreContainer {
  }
}
