@use "../../../common/variables" as *;
@use '../../../common/responsive' as *;

.container {
    width: 100%;
    display: flex;
    column-gap: 1em;
    row-gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
    flex-wrap: wrap;
    margin-bottom: 2em;
    > button {
        background-color: $bg-color;
        padding: 0.4em 0.6em 0.4em 0.6em;
        border-radius: 15px;
        &:hover {
            background-color: $bg-btn-color;
        }
    }
}