@use "../../../common/variables" as *;
@use '../../../common/responsive' as *;

.container {
    margin-top: 6em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto auto);
    gap: 2em;
    padding: 0px 1em 0px 1em;
    margin-bottom: 3em;
    @include break(md) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto auto);
    }
    @include break(lg) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto auto);
    }
    @include break(xl) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto auto);
    }
    @include break(xxl) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(auto auto);
    }
    > div {
        display: flex;
        justify-content: center;
        
    }
}