@use "../../../common/variables" as *;
@use "../../../common/responsive" as *;

article {
  margin-bottom: 1em;
  > p {
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    background-color: $bg-btn-color;
    margin-bottom: 1em;
    padding: 0.4em 0 0.4em 0;
  }
  > div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    @include break(md) {
      grid-template-columns: repeat(2, 1fr);
      padding: 0em 5em 0em 5em;
    }
    @include break(lg) {
      grid-template-columns: repeat(3, 1fr);
      padding: 0em 11em 0em 11em;
    }
    @include break(xl) {
      grid-template-columns: repeat(4, 1fr);
      padding: 0 14em 0 14em;
    }
    > div {
      display: flex;
      justify-content: center;
    }
  }
}
