@use "../../../common/variables" as *;
@use "../../../common/responsive" as *;

.newProductWrapper {
  // padding: 0px 2em 0px 2em;
  width: 100%;
  padding: 0px 2em 0px 2em;

  > .wrapper {
    overflow: hidden;
    position: relative;
    > .inner {
      display: flex;
      width: fit-content;
      animation: loop 5s linear infinite;
    }
  }
}
@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
