@use "../../../common/variables" as *;
@use "../../../common/responsive" as *;

.newProductWrapper {
  width: 100%;
  > p {
    // color: $bg-btn-color;
    text-align: center;
    font-weight: 700;
    font-size: x-large;
    background-color: $bg-btn-color;
    // margin: 0px 2em 2em 2em;
    // border-radius: 10px;
    margin-bottom: 2em;
    padding: 0.7em 0px 0.7em 0px;
  }
  .inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    @include break(md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include break(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include break(xl) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
