@use "../../../common/variables" as *;
@use "../../../common/responsive" as *;

.newProductWrapper {
  width: 100%;
  > p {
    text-align: center;
    font-weight: 600;
    font-size: x-large;
    background-color: $bg-btn-color;
    padding: 0.4em 0 0.4em 0;
    margin-bottom: 1em;
  }
  .wrapper {
    width: 100%;
    > .inner {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 2em;
      @include break(md) {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5em 0 5em;
      }
      @include break(lg) {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 11em 0 11em; 
      }
      @include break(xl) {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 14em 0 14em;
      }
    }
  }
}