@use "../../../common/variables" as *;
@use "../../../common/responsive" as *;

.searchBarWrapper {
  // background-color: $bg-btn-color;
  height: 3em;
  padding: 0px 2em 0px 2em;
  display: flex;
  margin-bottom: 5em;
  position: relative;
  div {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    > span {
      position: absolute;
      top: -50%;
    }
    > input {
      outline: none;
      width: 60%;
      background-color: #dadada;
      padding: 0.2em 2em 0.2em 2em;
      border-radius: 10px;
      font-size: small;
      // &:hover {
      //   filter: drop-shadow(1px 1px 2px gray);
      // }
      // &:focus {
      //   filter: drop-shadow(1px 1px 2px gray);
      // }
    }
    // > button {
    //   width: 10%;
    //   background-color: $bg-btn-color;
    //   border-radius: 0px 10px 10px 0px;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    // }
  }
}
