@use "../../../common/responsive" as *;
@use "../../../common/variables" as *;

.input {
    outline: none;
    width: 35em;
    padding: 0.5em 1em;
    font-size: small;
    border-radius: 5px;
    background-color: #f3f3f3;
    height: 3em;
}
