@use "../../../common/responsive" as *;
@use "../../../common/variables" as *;

.invoiceWrapper {
  width: 80%;
  height: 100vh;
  background-color: $bg-color;
  .invoiceContainer {
    padding: 2em;
    h4 {
      font-size: x-large;
      font-weight: 500;
    }
    form {
      
    }
  }
}
