@use "../../../../common/variables" as *;

.container {
  .btnField {
    padding: 2em;
    .btn {
      padding-bottom: $padding-bottom-30px;
      background-color: $bg-btn-color;
    }
    .btnHidden {
      background-color: $bg-color-green-400;
      pointer-events: none;
    }
  }

  .text {
    margin-bottom: $margin-10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
