
//Background color ($bg-color-color của ní)
$bg-color-dark-red: #8B0000; 
$bg-color-dark-orange: #FF8C00; 
$bg-color-main: radial-gradient(#ffffff, #040404);

//Margin ($margin-top/left/right/bottom-value) nhớ xếp thứ tự thấp -> cao
$margin-left-1px: 1px;
$margin-left-20px: 20px;
$margin-left-100px: 100px;


//Thêm design mới thì nhớ comment định dạng 